<h1> cocktails </h1>
  <% @cocktails.each do |cocktail| %>
            <h2><%= cocktail.name %></h2>
          <%= link_to cocktail.name, cocktail_path(cocktail.id)%>
      <% end %>
<%= link_to "create new cocktail", new_cocktail_path %>
